.side-bar
  .side-bar__user-name
    .side-bar__user-name__items
      .side-bar__user-name__items__items-name
        = current_user.name
      .side-bar__user-name__items__items-icons
        = link_to new_group_path, class: "side-bar__user-name__items__items-icons__left-icons" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "side-bar__user-name__items__items-icons__right-icons" do
          = icon('fas', 'cog')

  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to group_messages_path(group) do
          .side-bar__group-list__group__group-name
            = group.name 
          .side-bar__group-list__group__group-message
            = group.show_last_message     